@use "../abstracts/variables";
@use "../abstracts/mixins" as m;

.header {
	background-color: white;
	border-bottom: 2rem solid var(--color-primary);
	@include m.responsive(48rem) {
		padding: 3rem 2rem;
	}

	&__container {
		@include m.displayFlex(row, center, center);
		gap: 2rem;
		padding: 3rem 0;
		width: 88%;
		margin: 0 auto;
	}

	&__title {
		color: var(--color-primary);

		@include m.responsive(48rem) {
			h1 {
				font-size: 3.2rem;
			}
		}
	}

	&__img svg {
		--size: 10rem;
		@include m.square(var(--size));
		margin-right: auto;
	}
}
