@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "./output/percents";

.answer {
	background-color: white;
	color: var(--color-primary);

	& * {
		color: var(--color-primary);
	}

	&__container {
		@include mixins.displayFlex(column, $cross: stretch);
	}

	&__header {
		background-color: var(--color-secondary--light);

		h2 {
			text-transform: uppercase;
			text-align: center;
			font-weight: 700;
		}
	}
}
