.cls-1,
.cls-2 {
    fill: #2c1d17;
}
.cls-3 {
    fill: none;
    stroke: #281a14;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.96px;
}
.cls-2,
.cls-4,
.cls-5,
.cls-6 {
    fill-rule: evenodd;
}
.cls-4 {
    fill: #7a4f41;
}
.cls-5 {
    fill: #d2bdb6;
}
.cls-6 {
    fill: #b48464;
}
