@use "../abstracts/variables" as v;

:root {
	--color-primary: #{v.$color-primary};
	--color-primary--light: #{v.$color-primary--light};
	--color-secondary: #{v.$color-secondary};
	--color-secondary--light: #{v.$color-secondary--light};
	--color-grey--dark: #{v.$color-grey--dark};
	--color-grey--light: #{v.$color-grey--light};
	--font-primary: #{v.$font-primary};
}

body {
	background-color: var(--color-secondary);
}

.app-container {
	max-width: 80rem;
	margin: 0 auto;
}

.section-container {
	border: 2px solid var(--color-primary);
	border-radius: 1rem;
	padding: 3rem;
	max-width: 39rem;
	margin: 4rem auto;
}
