@use "../abstracts/variables";
@use "../abstracts/mixins";

h1,
h2,
h3,
h4 {
	font-weight: 700;
	font-family: variables.$font-primary;
	letter-spacing: 0.02rem;
	margin-bottom: 0.5rem;
}
h1 {
	font-size: 4.8rem;
}
h2 {
	font-size: 3.2rem;
}
h3 {
	font-size: 2.4rem;
}

label {
	@extend h4;
}

button,
input[type="submit"],
input[type="reset"] {
	@extend h4;
	text-transform: uppercase;
}
